[submodule "rust/mach-lib"]
	path = rust/mach-lib
	url = git@github.com:fsolleza/mach-lib.git
[submodule "rust/influxdb"]
	path = rust/influxdb
	url = https://github.com/influxdata/influxdb.git
[submodule "rust/influxdb3_core"]
	path = rust/influxdb3_core
	url = https://github.com/influxdata/influxdb3_core.git
